<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House OF Quotation | Eita deu um probleminha tente novamente em alguns segundos!</title>
</head>
<body>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K69WDD5N"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <script>
            window.dataLayer = window.dataLayer || [];
            dataLayer.push({'event': 'pageview','pagetype': 'fail_login'});
        </script>
<script>
    setTimeout(function() {
    // Code to execute after the delay
    window.location.href = "/";
}, 4000);
</script>
    <h1>eita deu um problema no seu login, tente novamente em alguns segundos </h1>
    <a href="/" class="button">Ou clique aqui para tentar agora.</a>
</body>
</html>